# app
APP_ENV=development
HTTP_HOST=localhost
HTTP_PORT=8080

# postgres
DATABASE_URL=postgres://equipment_checkout:equipment_checkout@localhost:5432/equipment_checkout?sslmode=disable
POSTGRES_DB=equipment_checkout
POSTGRES_USER=equipment_checkout
POSTGRES_PASSWORD=equipment_checkout
POSTGRES_PORT=5432
